.navbar-default .navbar-nav>li>a {
    color: #428bca;
}

body { padding-top:70px; }

@media screen and (max-width: 992px) {
    body { padding-top: 110px; }
}

@media screen and (max-width: 768px) {
    body { padding-top: 110px; }
}

@media screen and (max-width: 768px) {
    body { padding-top: 110px; }
}

footer {
    font-size:10px;
}